* {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html{
    //overall setting defines what 1rem is
    font-size: 62.5%;

    @include respond(big-desktop){
        font-size: 75%; //1rem =12, 12/16
    }

    @include respond(tab-land){
        font-size: 56.25%; //1rem =9, 9/16
    }

    @include respond(tab-port){
        font-size: 50%; //1rem =8, 8/16
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){
        padding: 0;
    }
}

//change the background-color when some text are selected
::selection{
    background-color: $color-primary;
    color: #fff;
}